.personajesPage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  color: var(--color-primary);
}

.contenedorPersonaje {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  width: 100%;
}
